.navLinks a {
  color: var(--main-color);
  text-decoration: none;
  opacity: 0.25;
  font-size: 1.75rem;
  line-height: calc(1.75rem + 8px);
  font-weight: 500;
  padding: 0rem 1rem;
  transition: all 0.3s ease-in-out;

}

.navLinks {
  text-align: center;
}

.navLinks a:hover {
  opacity: 1;
  transform: scale(1.05);
  text-decoration: underline;
  color: var(--pallete-color-500);
}

.navLinks a.active {
  opacity: 1;
  transform: scale(1.05);
  text-decoration: underline;
  color: var(--pallete-color-500);
}